page-communication {

    ion-icon {
        font-size: 4.2em;
    }
    .iconWhatsapp{
        margin-top: 10rem
    }
    .iconVoice{
        padding-top: 10rem;
    }
    .cancelBtn{
        background-color: #af5b14;
    }
    .bottomBtns{
      margin-top: 13rem;
    }
}
