page-visitor-list {

    .tabCol{
        border: 1px solid black;
        text-align: center;
    }
    .tabCol:nth-child(1),.tabCol:nth-child(2),.tabCol:nth-child(3),.tabCol:nth-child(4),.tabCol:nth-child(5),.tabCol:nth-child(6){
        border-bottom: none;
    }
    .tabCol:nth-child(1),.tabCol:nth-child(2),.tabCol:nth-child(3){
        background-color: #88325c;
        color: white
    }
    h5{
        font-size: 1.5rem;
    }
    
    .bottomBtns{
      margin-top: 25rem;
    }
    .tabCol:nth-child(4),.tabCol:nth-child(7){
        padding-top: 1.5rem;
    }
    .tableOverAll{
        padding-top: 4rem;  
    }
    .checkbox-checked {
        border-color: #88325c !important;
        background-color: #88325c !important;
    }
}
