page-home {
    ion-list img {
        vertical-align: middle;
        margin-right: 15px;
        margin-top: -2px;
    }
    .menudivider {
        border-bottom: 1px solid #eee;
        height: 1px;
        margin: 15px;
        width: 90%;
    }
    .hide {
        display: none;
    }
}