page-home {
    ion-list img {
        vertical-align: middle;
        margin-right: 15px;
        margin-top: -2px;
    }
    .menudivider {
        border-bottom: 1px solid #eee;
        height: 1px;
        margin: 15px;
        width: 90%;
    }
    .hide {
        display: none;
    }
    .userdetails {
        background: url('../assets/imgs/menubg.png') no-repeat left top;
        background-size: cover;
        text-align: center;
        padding-top: 15%;
        padding-bottom: 10%;
        img {
            width: 150px;
            height: 150px;
        }
    }
}

.header-ios .toolbar-ios:last-child .toolbar-background-ios {
    border-width: 0;
}

.toolbar-background {
    border-color: #88325c;
    background: #88325c;
}

.bar-button-default,
.toolbar-title {
    color: #fff;
}