page-communication-video {

    .cancelBtn{
        background-color: #af5b14;
    }
    .bottomBtns{
      margin-top: 16rem;
    }
    ion-icon {
        font-size: 4.2em;
    }
    .commuVideo{
        margin-top: 10rem;
    }
}
